name: Build and Deploy Documentation

on:
  push:
    branches: [ main, master ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[docs]
        pip install "git+https://github.com/Jan-IngenHousz-Institute/JII-MultispeQ.git"
    
    - name: Build documentation
      run: |
        cd docs
        sphinx-build -b html source build/html
    
    - name: Setup Pages
      uses: actions/configure-pages@v3
    
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/build/html

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4